<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amirmistikplay.metaeducation" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_metatoken"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_metatoken"
        android:supportsRtl="true"
        android:theme="@style/Theme.MetaEducation"
        tools:targetApi="m">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AwardActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".database.ViewCourses"/>
        <activity android:name=".TaskActivity.InformaticActivity"/>
        <activity android:name=".TaskActivity.GeometryActivity"/>
        <activity android:name=".TaskActivity.AlgebraActivity"/>
        <activity android:name=".VideoActivity"/>
        <activity android:name=".TestActivity"/>
        <activity android:name=".ResultActivity"/>
        <activity android:name=".StatisticActivity"/>
    </application>
</manifest>